/// -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
/// CONFIG: BOX SHADOW
/// -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=

// Dependences
@use 'sass:map';

// Enable this module?
$enable: true !default;

// Default class name
$class: 'shadow-' !default;

// Default variants
$variants: () !default;

// Default rules
$default: () !default;

// Extend rules
$extend: () !default;

// Merge all rules
$rules: map.merge($default, $extend);
