/// -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
/// CONFIG: FONT FAMILY
/// -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=

// Dependences
@use 'sass:map';

// Enable this module?
$enable: true !default;

// Default variants
$variants: () !default;

// Default class name
$class: '' !default;

// Default rules
$default: () !default;

// Extend rules
$extend: () !default;

// Merge all rules
$rules: map.merge($default, $extend);
