/// -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
/// CONFIG: BORDER
/// -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=

// Dependences
@use 'sass:map';
@use '../settings';

// Enable this module?
$enable: true !default;

// Default variants
$variants: () !default;

// Default class name
$class: 'bd' !default;

// Default rules
$default: (
    0: 0,
    1: 1px,
    2: 2px,
    3: 3px,
    4: 4px,
) !default;

// Extend rules
$extend: () !default;

// Merge all rules
$rules: map.merge($default, $extend);

// Enable positions?
$position: false !default;

// Positions
$positions: (settings.$positions) !default;

// Default border color
$color: var(--color-bd) !default;
