/// -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
/// CONFIG: FLEX WRAP
/// -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=

// Dependences
@use 'sass:map';

// Enable this module?
$enable: true !default;

// Default variants
$variants: (responsive) !default;

// Default class name
$class: 'fw' !default;

// Default rules
$default: (
    w : wrap,
    wr: wrap-reverse,
    n : nowrap,
) !default;

// Extend rules
$extend: () !default;

// Merge all rules
$rules: map.merge($default, $extend);
