/// -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
/// CONFIG: WIDTH
/// -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=

// Dependences
@use 'sass:map';
@use '../settings';

// Enable this module?
$enable: true !default;

// Default variants
$variants: (responsive) !default;

// Default class name
$class: 'w' !default;

// Default rules
$default: settings.$sizings !default;

// Extend rules
$extend: () !default;

// Merge all rules
$rules: map.merge($default, $extend);
